/* line 1, ../scss/custom.scss */
.ft {
  position: relative;
  top: 3px;
  padding: 0;
  margin: 0; }
  /* line 7, ../scss/custom.scss */
  .ft.ft-brand {
    top: 6px; }

/* line 13, ../scss/custom.scss */
.flat-link:hover {
  text-decoration: none; }

/* line 19, ../scss/custom.scss */
.table td {
  vertical-align: middle; }
/* line 24, ../scss/custom.scss */
.table tbody tr:first-child td {
  border-top: none; }

/* line 31, ../scss/custom.scss */
table.dataTable {
  clear: both;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  max-width: none !important;
  border-collapse: collapse !important; }
  /* line 38, ../scss/custom.scss */
  table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
    /* line 42, ../scss/custom.scss */
    table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
      text-align: center; }
    /* line 46, ../scss/custom.scss */
    table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
      text-align: center; }
  /* line 52, ../scss/custom.scss */
  table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap; }
  /* line 59, ../scss/custom.scss */
  table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative; }
    /* line 67, ../scss/custom.scss */
    table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after {
      position: absolute;
      bottom: 0.9em;
      display: block;
      opacity: 0.25; }
    /* line 75, ../scss/custom.scss */
    table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
      right: 1em;
      content: "\2191"; }
    /* line 80, ../scss/custom.scss */
    table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
      right: 0.5em;
      content: "\2193"; }
  /* line 86, ../scss/custom.scss */
  table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::after {
    opacity: 1; }
  /* line 91, ../scss/custom.scss */
  table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_desc_disabled::after {
    opacity: 1; }
  /* line 97, ../scss/custom.scss */
  table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting {
    padding-right: 30px; }
  /* line 103, ../scss/custom.scss */
  table.dataTable thead > tr > th:active {
    outline: none; }

/* line 110, ../scss/custom.scss */
div.dataTables_wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  /* line 114, ../scss/custom.scss */
  div.dataTables_wrapper.container-fluid {
    padding-left: 0;
    padding-right: 0; }
  /* line 120, ../scss/custom.scss */
  div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap; }
  /* line 126, ../scss/custom.scss */
  div.dataTables_wrapper div.dataTables_length select {
    width: 60px;
    display: inline-block; }
  /* line 132, ../scss/custom.scss */
  div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    float: right !important; }
    /* line 136, ../scss/custom.scss */
    div.dataTables_wrapper div.dataTables_filter label {
      font-weight: normal;
      white-space: nowrap;
      text-align: left; }
    /* line 142, ../scss/custom.scss */
    div.dataTables_wrapper div.dataTables_filter input {
      margin-left: 0.5em;
      display: inline-block;
      width: auto; }
  /* line 149, ../scss/custom.scss */
  div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.75em;
    white-space: nowrap;
    float: left !important; }
  /* line 155, ../scss/custom.scss */
  div.dataTables_wrapper div.dataTables_paginate {
    padding-top: .4em;
    margin: 0;
    white-space: nowrap;
    text-align: right;
    float: right !important; }
    /* line 162, ../scss/custom.scss */
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
      margin: 2px 0;
      white-space: nowrap;
      justify-content: flex-end; }
  /* line 169, ../scss/custom.scss */
  div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0; }
  /* line 181, ../scss/custom.scss */
  div.dataTables_wrapper .dt-buttons .btn {
    padding: 0.3rem 1rem;
    font-size: .95rem; }

/* line 197, ../scss/custom.scss */
div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important; }

/* line 202, ../scss/custom.scss */
div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  /* line 211, ../scss/custom.scss */
  div.dataTables_scrollBody table thead .sorting::after, div.dataTables_scrollBody table thead .sorting_asc::after, div.dataTables_scrollBody table thead .sorting_desc::after {
    display: none; }
  /* line 217, ../scss/custom.scss */
  div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none; }

/* line 224, ../scss/custom.scss */
div.dataTables_scrollFoot > .dataTables_scrollFootInner {
  box-sizing: content-box; }
  /* line 227, ../scss/custom.scss */
  div.dataTables_scrollFoot > .dataTables_scrollFootInner > table {
    margin-top: 0 !important;
    border-top: none; }

/* line 234, ../scss/custom.scss */
table.dataTable.table-sm > thead > tr > th {
  padding-right: 20px; }
/* line 242, ../scss/custom.scss */
table.dataTable.table-sm .sorting::before, table.dataTable.table-sm .sorting_asc::before, table.dataTable.table-sm .sorting_desc::before {
  top: 5px;
  right: 0.85em; }
/* line 247, ../scss/custom.scss */
table.dataTable.table-sm .sorting::after, table.dataTable.table-sm .sorting_asc::after, table.dataTable.table-sm .sorting_desc::after {
  top: 5px; }

/* line 254, ../scss/custom.scss */
table.table-bordered.dataTable th, table.table-bordered.dataTable td {
  border-left-width: 0; }
  /* line 258, ../scss/custom.scss */
  table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 0; }
/* line 264, ../scss/custom.scss */
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  border-bottom-width: 0; }

/* line 270, ../scss/custom.scss */
div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0; }

/* line 274, ../scss/custom.scss */
div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0; }
  /* line 278, ../scss/custom.scss */
  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
    padding-left: 0; }
  /* line 282, ../scss/custom.scss */
  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    padding-right: 0; }

/* line 291, ../scss/custom.scss */
.upload-box {
  font-size: 1.25rem;
  /* 20 */
  background-color: #c8dadf;
  position: relative;
  padding: 100px 20px; }
  /* line 297, ../scss/custom.scss */
  .upload-box.has-advanced-upload {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; }

/* line 305, ../scss/custom.scss */
.upload-box.is-dragover {
  outline-offset: -20px;
  outline-color: #c8dadf;
  background-color: #fff; }

/* line 311, ../scss/custom.scss */
.upload-dragndrop,
.upload-icon {
  display: none; }

/* line 316, ../scss/custom.scss */
.upload-box.has-advanced-upload .upload-dragndrop {
  display: inline; }

/* line 320, ../scss/custom.scss */
.upload-box.has-advanced-upload .upload-icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px; }

/* line 329, ../scss/custom.scss */
.upload-box.is-uploading .upload-input,
.upload-box.is-success .upload-input,
.upload-box.is-error .upload-input {
  visibility: hidden; }

/* line 336, ../scss/custom.scss */
.upload-uploading,
.upload-success,
.upload-error {
  display: none; }

/* line 342, ../scss/custom.scss */
.upload-box.is-uploading .upload-uploading,
.upload-box.is-success .upload-success,
.upload-box.is-error .upload-error {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 355, ../scss/custom.scss */
.upload-uploading {
  font-style: italic; }

/* line 359, ../scss/custom.scss */
.upload-success {
  -webkit-animation: appear-from-inside .25s ease-in-out;
  animation: appear-from-inside .25s ease-in-out; }

@-webkit-keyframes appear-from-inside {
  from {
    -webkit-transform: translateY(-50%) scale(0); }
  75% {
    -webkit-transform: translateY(-50%) scale(1.1); }
  to {
    -webkit-transform: translateY(-50%) scale(1); } }
@keyframes appear-from-inside {
  from {
    transform: translateY(-50%) scale(0); }
  75% {
    transform: translateY(-50%) scale(1.1); }
  to {
    transform: translateY(-50%) scale(1); } }
/* line 377, ../scss/custom.scss */
.upload-restart {
  font-weight: 700; }

/* line 381, ../scss/custom.scss */
.upload-restart:focus,
.upload-restart:hover {
  color: #39bfd3; }

/* line 387, ../scss/custom.scss */
.upload-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

/* line 396, ../scss/custom.scss */
.upload-file + label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden; }

/* line 405, ../scss/custom.scss */
.upload-file + label:hover strong,
.upload-file:focus + label strong,
.upload-file.has-focus + label strong {
  color: #39bfd3; }

/* line 411, ../scss/custom.scss */
.upload-file:focus + label,
.upload-file.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }

/* line 417, ../scss/custom.scss */
.upload-file + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */ }

/* line 422, ../scss/custom.scss */
.no-js .upload-file + label {
  display: none; }

/* line 427, ../scss/custom.scss */
.no-js .upload-button {
  display: block; }

/* line 431, ../scss/custom.scss */
.upload-button {
  font-weight: 700;
  color: #e5edf1;
  background-color: #39bfd3;
  display: none;
  padding: 8px 16px;
  margin: 40px auto 0; }

/* line 440, ../scss/custom.scss */
.upload-button:hover,
.upload-button:focus {
  background-color: #0f3c4b; }

/* line 448, ../scss/custom.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5; }

/*# sourceMappingURL=custom.css.map */
