@charset "utf-8";

// Custom
$avatar-bg:						#ECEDF3;
$form-control-height:			46px;
$form-control-height-sm:		31px;
$modal-bg:						#E8E9ED;

$bg:							#F8F9FD;
$border:						#E0E5F1;
$border-light:					#E5E5EB;
$card-header-footer:			#EFF3FA;

// Bootstrap Variables
$spacer:						1rem !default;

$type-300:						300;
$type-400:						400;
$type-500:						500;

$text-light:					#A5AAB6;
$text-base:						#848A99;
$text-bold:						#464c55;

$gray-100:						#f8f9fd !default;
$gray-600:						$text-light !default;
$gray-800:						#343C49 !default;

$primary:						#4474E4;
// $secondary:						#CACDE0;
$secondary:						$bg;
$success:						#31CF65;
$info:							#30CEF5;
$warning:						#FFCB4A;
$danger:						#F55753;
$purple:						#6D5BAF;
$light:							$gray-100;
$dark:							#1F2637;
$pink:							#FE6E98;
$custom:						#1fb6ff;
$default:						#FFFFFF;

// Overrides
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"purple": $purple,
	"light": $light,
	"dark": $dark,
	"pink": $pink,
	"custom": $custom,
);


// Misc
$body-bg:						$bg !default;
$body-color:					$text-base !default;
$border-color:					$border !default;

// Font
$font-family-sans-serif:		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:			SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:				"FaktProSoft", $font-family-sans-serif !default;

$font-size-base:				1rem !default; // Assumes the browser default, typically `16px`

$font-weight-light:				$type-300 !default;
$font-weight-normal:			$type-400 !default;
$font-weight-bold:				$type-500 !default;

$font-weight-base:				$font-weight-light !default;

$text-muted:					$text-light !default;

// Alerts

$alert-padding-y:				1.15rem !default;
$alert-border-radius:			0 !default;
$alert-border-width:			0 !default;
$alert-link-font-weight:		$font-weight-bold !default;

$alert-bg-level:				0 !default;
$alert-border-level:			0 !default;
$alert-color-level:				-12 !default;

// Close
$close-font-size:				$font-size-base * 1.3 !default;
$close-font-weight:				$font-weight-normal !default;
$close-color:					$text-base !default;
$close-text-shadow:				none !default;

// Cards
$card-border-color:				$border !default;

// Headings
$headings-font-weight:			$type-400 !default;
$headings-color:				$text-bold !default;

// Modals
$modal-inner-padding:			1.5rem !default;
$modal-header-padding:			1.5rem !default;

$modal-content-border-color:	$border !default;
$modal-header-border-color:		transparent !default;
$modal-footer-border-color:		transparent !default;

$modal-close-padding:			1.2rem 1.6rem !default;

// Navbar
$navbar-padding-y:				$spacer !default;
$navbar-padding-x:				($spacer / 1.25) !default;


$navbar-dark-color:				rgba(white, .75) !default;
$navbar-dark-hover-color:		rgba(white, .9) !default;

// Dropdown
$dropdown-item-padding-y:		.5rem !default;
$dropdown-item-padding-x:		1.5rem !default;

// Tables
$table-border-color:			$border !default;
$table-accent-bg:				$bg !default;

// Forms
$form-group-margin-bottom:		($spacer * 1.5) !default;

$input-btn-padding-y:			.625rem !default;
$input-btn-padding-x:			.75rem !default;
$input-btn-focus-width:			1px !default;
$input-btn-focus-color:			$primary !default;
// $input-line-height:				$form-control-height !default;

$input-color:					$text-bold !default;
$input-border-color:			$border !default;

$input-placeholder-color:		$text-light !default;

$input-group-addon-color:		$text-bold !default;
$input-group-addon-bg:			$avatar-bg !default;

$input-bg:						white !default;
$input-disabled-bg:				$avatar-bg !default;

// Badges
$badge-font-size:				85% !default;
$badge-font-weight:				$font-weight-normal !default;
$badge-padding-y:				.45em !default;
$badge-padding-x:				.6em !default;

// Breadcrumbs
$breadcrumb-bg:					transparent !default;
$breadcrumb-divider-color:		$text-bold !default;
$breadcrumb-active-color:		$text-base !default;
$breadcrumb-divider:			"»" !default;

// Buttons
$btn-padding-y:					0.5rem !default;
$btn-padding-x:					1.25rem !default;

// Jumbotron
$jumbotron-bg:					$light !default;

// Modals
$modal-backdrop-bg:				$modal-bg !default;
$modal-backdrop-opacity:		.85 !default;
$modal-header-border-color:		$border !default;

// Tooltips
$tooltip-bg:					$dark !default;
$tooltip-border-radius:			.15rem !default;
$tooltip-padding-y:				.25rem !default;
$tooltip-padding-x:				.75rem !default;

@import "mixins";
@import "bootstrap/scss/bootstrap";
@import "select2";

body {
	letter-spacing: 0;
	-webkit-font-smoothing: antialiased;
	font-weight: $type-400;
}

label {
	font-weight: $type-400;
	color: $text-bold;
}

b, strong {
	font-weight: $type-500;
}

.table {
	border-top: none;

	th {
		font-weight: $type-400;
		color: $text-bold;
		border-top: none;
	}
}

// Alerts
.alert {
	.close {
		color: white;
	}
	&.alert-secondary,
	&.alert-light {
		color: $text-bold;

		.close {
			color: $text-bold;
		}	
	}
}


// Navbar
.nav-item {
	padding: 0px 10px;

	&.active {
		.nav-link {
			color: $primary;
		}
	}
}

.navbar-nav .nav-link {
	font-size: .9rem;
	font-weight: $type-400;
	color: $text-base;

	& > i {
		margin-right: 5px;
	}

	&:hover {
		color: $primary;
	}

	&.nav-link-avatar {
		padding: 0.3rem 0.5rem;
	}
}

.navbar-brand {
	font-weight: $type-500;
}

.navbar-dark {
	.navbar-brand {
		color: white;
	}
}

.user-avatar {
	display: inline-block;
	width: 1.8rem;
	height: 1.8rem;
	background-color: $avatar-bg;
	text-align: center;
	
	@include border-radius(10rem);

	span.no-image-user {
		line-height: 1.8rem;
		color: $text-bold;
		font-size: .75rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: $type-500;
	}

	img {
		width: 100%;
		height: auto;
		vertical-align: middle;
	}
}

.navbar-dark {
	.user-avatar {
		background-color: white;

		span.no-image-user {
			line-height: 1.9rem;
			color: $text-base;
		}
	}
}

// Cards
.card-header,
.card-footer {
	background-color: $card-header-footer;
}

.card-body {
	padding: ($spacer * 1.4);
}

.card-wrapper {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.card-shadow {
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

// Feather
// .feather {
// 	float: left;
// }

// Separator Line
.separator-line {
	border-bottom: 1px solid $border;
	width: 85%;
	display: block;
	margin: 5px auto 5px auto;
}


// Dropdown
.dropdown-menu {
	top: 130%;
	animation-name: animate-flyout;
	animation-duration: 0.2s;
}
.input-group .dropdown-menu {
	animation-name: none;
}

.dropdown-item {
	color: $text-bold;
	font-size: .9rem;

	&:focus,
	&:hover,
	&.active {
		background-color: transparent;
		color: $primary;
	}

	span {
		display: block;
		color: $text-base;
		font-size: .85rem;
		margin-top: 3px;
	}
}

.dropdown-toggle::after {
	vertical-align: .1em;
	margin-left: .5rem;
}



// Forms
.form-control {
	// border: 1px solid $border;
	// height: $form-control-height;
	// font-weight: $type-300;
	// color: $text-bold;
	// font-size: .95rem;

	&:focus {
		box-shadow: none;
		border-color: $primary;
	}

	&:disabled,
	&[readonly] {
		cursor: not-allowed;
	}
}

.input-group-custom {
	.form-control {
		padding-left: 0;
		border-left: none;
		@include border-radiuses(.25rem, .25rem, 0, 0);

		&:focus + .input-group-custom:not(:first-child) {
			border-color: $primary;
		}

		&:focus + .input-group-custom {
			border-color: $primary;

			i {
				color: $primary;
			}
		}
		& + .input-group-custom:not(:first-child) {
			border-left: 1px solid $border;

			@include border-radiuses(0, 0, .25rem, .25rem);
		}

	}

	.input-group-custom {
		@include transition(color 350ms ease);
		@include transition(border-color 350ms ease);
		background-color: transparent;
		border-color: $border;
		border-right: none;
		border-top: 1px solid $border;
		border-bottom: 1px solid $border;
		border-left: 1px solid $border;
		padding: .65rem 1rem .35rem 1rem;
		order: -1;

		i {
			@include transition(color 350ms ease);
			color: $border;
		}
	}
}

select.form-control:not([size]):not([multiple]) {
	height: $form-control-height;

	&.form-control-sm {
		height: $form-control-height-sm;
	}
}

select.form-control {
	text-indent: 8px;

	option {
		padding: 0 36px;
	}
}

// Buttons
.btn {
	cursor: pointer;
	font-weight: $type-400;
	color: white;
	outline: none;
	border: none;

	&.focus, &:focus {
		box-shadow: none;
	}
}

.btn-default {
	background-color: $default;
	color: $text-bold;
	border: 1px solid $border;

	@include hover-focus {
		background-color: $gray-100;
	}
}

.btn-secondary {
	color: $text-base;
	border: 1px solid $border;

	@include hover-focus {
		color: $text-bold;
		background-color: $gray-100;
	}
}

.btn-custom {
	background-color: $custom;
}

.btn-warning {
	@include hover-focus {
		color: white;
	}
}

.btn-pink {
	background-color: $pink;
}

.btn-purple {
	background-color: $purple;
}

.btn-link {
	background-color: transparent;
	color: $text-base;

	@include hover-focus {
		color: $text-base;
		text-decoration: none;
	}
}

// Utilities
.border-top {
	border-top: 1px solid $border;
}

.border-bottom {
	border-bottom: 1px solid $border;
}

.dd {
	@include dd();
}


// Checkboxes
.form-check {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 0;
}

.checkbox, .radio {

	margin-top: 5px;

	label {
		line-height: 1.6rem;
		font-weight: normal;
		color: $text-base;

		&:hover {
			cursor: pointer;
		}

		input[type="checkbox"], input[type="radio"] {
			
			-webkit-appearance:none;
			-moz-appearance:none;
			appearance:none;

			& + span {

				&::before {
					font-size: .8rem;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					content: '';
					color: white;
					position: relative;
					border: 1px solid $border;
					width: 1.6rem;
					height: 1.6rem;
					float: left;
					margin-right: .9rem;
					margin-right: 0.5em;

					@include transition(all 350ms ease);
					@include border-radius(.25rem);
				}
			}

			&:checked + span:before {
				content: '\f00c';
				background: $primary;
				border-color: transparent;
				text-align: center;
			}

			&:focus + span:before {
				border-color: $primary;
			}

			&:disabled + span {
				color: $text-light;
				cursor: not-allowed;

				&:before {
					background-color: $bg;
					border-color: $border-light;
				}
			}
		}

		input[type="checkbox"]:hover + span:before {
			text-align: center;
			content: '\f00c';
			color: $border-light;
		}

		input[type="checkbox"]:checked + span:before {
			content: '\f00c';
		}
		input[type="checkbox"]:checked:hover + span:before {
			color: white;
		}

		input[type="radio"] {

			& + span {
				&:before {
					@include border-radius(100%);
				}
			}

			&:not(:checked):not(:disabled):focus + span:before,
			&:not(:checked):not(:disabled):hover + span:before {
				background-color: white;
				border: 1px solid $border;
				color: $border-light;
				content: '\f111';
				line-height: 1.6rem;
				text-align: center;
			}

			&:not(:disabled):checked:focus + span:before {
				border: 1px solid $primary;
			}

			&:checked + span:before {
				background-color: white;
				border: 1px solid $border;
				color: $primary;
				content: '\f111';
				line-height: 1.6rem;
			}
		}
	}
}

.page-title {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;

	.page-icon {
		margin-right: 1rem;

		span,
		img {

			$size: 2.5rem;

			position: relative;
			top: -3px;
			display: inline-block;
			width: $size;
			height: $size;
			border-radius: .5rem;
			line-height: $size;
			background-color: $avatar-bg;
			color: $text-bold;
			font-size: 1rem;
			text-align: center;
			text-transform: uppercase;
			font-weight: $type-500;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

// Badges
.badge-success,
.badge-warning,
.badge-info {
	color: white;
}

.badge-light {
	color: $text-bold;
}

.badge-secondary {
	background-color: $avatar-bg;
	color: $text-bold;
}

// Tabs
.nav-tabs {
	.nav-item {
		.nav-link {
			position: relative;
			display: block;
			border: none;
			padding: .8rem 1.5rem;
			color: $text-base;

			&::after {
				position: absolute;
				display: block;
				margin: auto;
				left: 0;
				right: 0;
				content: '';
				width: 0;
				height: 2px;
				background-color: $primary;
				bottom: -1px;
				transition: width 250ms ease 0s;
			}

			&:hover::after {
				width: 100%;
			}
		}


		.nav-link.active {
			border-bottom: 1px solid $border;
			color: $primary;

			&::after {
				width: 100%;
			}
		}
	}
}

// Animations
@keyframes animate-flyout {
	0% {
		@include translateY(-10px);
		@include opacity(0);
	}
	100% {
		@include translateY(0);
		@include opacity(1);
	}
}


// Modals
.modal-header {
	background-color: $bg;

	.close {
		padding: 1.72rem 1.8rem;
	}
}

.modal-body {
	padding-bottom: .5rem;
}

div.dt-button-info {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-top: -100px;
	margin-left: -200px;
	background-color: white;
	border: 1px solid $border;
	box-shadow: 0 0 40px rgba(0,0,0,.1);
	border-radius: 3px;
	text-align: center;
	z-index: 21;
}
div.dt-button-info h2 {
	padding: 0.8em 0.5em;
	margin: 0;
	font-weight: normal;
	border-bottom: 1px solid $border;
	background-color: $avatar-bg;
	font-size: $font-size-base * 1.5;
}
div.dt-button-info > div {
	padding: 2em 1em;
}