.ft {
	position: relative;
	top: 3px;
	padding: 0;
	margin: 0;

	&.ft-brand {
		top: 6px;
	}
}

.flat-link {
	&:hover {
		text-decoration: none;
	}
}

.table {
	td {
		vertical-align: middle;
	}

	tbody tr:first-child {
		td {
			border-top: none;
		}
	}
}

// Datatables
table.dataTable {
	clear: both;
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
	max-width: none !important;
	border-collapse: collapse !important;

	td, th {
		-webkit-box-sizing: content-box;
		box-sizing: content-box;

		&.dataTables_empty {
			text-align: center;
		}

		&.dataTables_empty {
			text-align: center;
		}
	}

	&.nowrap {
		th, td {
			white-space: nowrap;
		}
	}

	& thead {

		& .sorting_asc,
		& .sorting_desc,
		& .sorting,
		& .sorting_asc_disabled,
		& .sorting_desc_disabled {
			cursor: pointer;
			position: relative;

			&::before,
			&::after {
				position: absolute;
				bottom: 0.9em;
				display: block;
				opacity: 0.25;
			}

			&:before {
				right: 1em;
				content: "\2191";
			}

			&:after {
				right: 0.5em;
				content: "\2193";
			}
		}

		& .sorting_asc::before,
		& .sorting_desc::after {
			opacity: 1;
		}

		& .sorting_asc_disabled::before,
		& .sorting_desc_disabled::after {
			opacity: 1;
		}

		& > tr > th {
			&.sorting_asc,
			&.sorting_desc,
			&.sorting {
				padding-right: 30px;
			}

			&:active {
				outline: none;
			}
		}
	}
}

div.dataTables_wrapper {
	margin-top: 1rem;
	margin-bottom: 1rem;

	&.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	& div.dataTables_length {
		label {
			font-weight: normal;
			text-align: left;
			white-space: nowrap;
		}

		select {
			width: 60px;
			display: inline-block;
		}
	}

	& div.dataTables_filter {
		text-align: right;
		float: right !important;

		label {
			font-weight: normal;
			white-space: nowrap;
			text-align: left;
		}

		input {
			margin-left: 0.5em;
			display: inline-block;
			width: auto;
		}
	}

	& div.dataTables_info {
		padding-top: 0.75em;
		white-space: nowrap;
		float: left !important;
	}

	& div.dataTables_paginate {
		padding-top: .4em;
		margin: 0;
		white-space: nowrap;
		text-align: right;
		float: right !important;

		ul.pagination {
			margin: 2px 0;
			white-space: nowrap;
			justify-content: flex-end;
		}
	}

	& div.dataTables_processing {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		margin-top: -26px;
		text-align: center;
		padding: 1em 0;
	}

	& .dt-buttons {
		.btn {
			padding: 0.3rem 1rem;
			font-size: .95rem;
		}
	}

	// @include media-breakpoint-down(sm) {
	// 	& div.dataTables_length,
	// 	& div.dataTables_filter,
	// 	& div.dataTables_info,
	// 	& div.dataTables_paginate {
	// 		text-align: center;
	// 	}
	// }
}

div.dataTables_scrollHead table.dataTable {
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody {
	table {
		border-top: none;
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		& thead {
			& .sorting,
			& .sorting_asc,
			& .sorting_desc {
				&::after {
					display: none;
				}
			}
		}

		& tbody tr:first-child th,
		& tbody tr:first-child td {
			border-top: none;
		}
	}
}

div.dataTables_scrollFoot > .dataTables_scrollFootInner {
	box-sizing: content-box;

	& > table {
		margin-top: 0 !important;
		border-top: none;
	}
} 

table.dataTable.table-sm {
	& > thead > tr > th {
		padding-right: 20px;
	}

	& .sorting,
	& .sorting_asc,
	& .sorting_desc {

		&::before {
			top: 5px;
			right: 0.85em;
		}

		&::after {
			top: 5px;
		}
	}
}

table.table-bordered.dataTable {
	& th,
	& td {
		border-left-width: 0;

		&:last-child {
			border-right-width: 0;
		}
	}

	& tbody {
		th, td {
			border-bottom-width: 0;
		}
	}
}

div.dataTables_scrollHead table.table-bordered {
	border-bottom-width: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
	margin: 0;

	& > div[class^="col-"]{
		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}

// Upload File


.upload-box {
	font-size: 1.25rem; /* 20 */
	background-color: #c8dadf;
	position: relative;
	padding: 100px 20px;

	&.has-advanced-upload {
		outline: 2px dashed #92b0b3;
		outline-offset: -10px;

		-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
		transition: outline-offset .15s ease-in-out, background-color .15s linear;
	}
}
.upload-box.is-dragover
{
outline-offset: -20px;
outline-color: #c8dadf;
background-color: #fff;
}
.upload-dragndrop,
.upload-icon
{
	display: none;
}
.upload-box.has-advanced-upload .upload-dragndrop
{
	display: inline;
}
.upload-box.has-advanced-upload .upload-icon
{
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	margin-bottom: 40px;
}

.upload-box.is-uploading .upload-input,
.upload-box.is-success .upload-input,
.upload-box.is-error .upload-input
{
	visibility: hidden;
}

.upload-uploading,
.upload-success,
.upload-error
{
	display: none;
}
.upload-box.is-uploading .upload-uploading,
.upload-box.is-success .upload-success,
.upload-box.is-error .upload-error
{
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;

	-webkit-transform: translateY( -50% );
	transform: translateY( -50% );
}
.upload-uploading
{
	font-style: italic;
}
.upload-success
{
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}
	@-webkit-keyframes appear-from-inside
	{
		from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
		75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
		to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
	}
	@keyframes appear-from-inside
	{
		from	{ transform: translateY( -50% ) scale( 0 ); }
		75%		{ transform: translateY( -50% ) scale( 1.1 ); }
		to		{ transform: translateY( -50% ) scale( 1 ); }
	}

.upload-restart
{
	font-weight: 700;
}
.upload-restart:focus,
.upload-restart:hover
{
	color: #39bfd3;
}

.upload-file
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.upload-file + label
{
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}
.upload-file + label:hover strong,
.upload-file:focus + label strong,
.upload-file.has-focus + label strong
{
	color: #39bfd3;
}
.upload-file:focus + label,
.upload-file.has-focus + label
{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
	.upload-file + label *
	{
		/* pointer-events: none; */ /* in case of FastClick lib use */
	}

.no-js .upload-file + label
{
	display: none;
}

.no-js .upload-button
{
	display: block;
}
.upload-button
{
	font-weight: 700;
	color: #e5edf1;
	background-color: #39bfd3;
	display: none;
	padding: 8px 16px;
	margin: 40px auto 0;
}
	.upload-button:hover,
	.upload-button:focus
	{
		background-color: #0f3c4b;
	}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
}